<!DOCTYPE html>
<html lang="en">
<head>
    <title>헬로월드</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>헬로월드</h2>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">메인(홈)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/hello">헬로 월드</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/input">입력</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/menu">메뉴추가</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rndmenu">머먹지?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">머하지?</a>
        </li>
    </ul>