{{>layout/header}}

<h5>무엇을 입력?</h5>
<div class="form-inline">
    <div class="form-group">
        <label for="data" class="mb-2 mr-sm-2">입력</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="data" placeholder="무엇을 입력?" name="data">
    </div>
    <button type="button" id="inputbtn" class="btn btn-primary mb-2">확인</button>
</div>
<br><br>
<div id="div1">여기에 입력한 데이터가 나타납니다~ 두구두구</div>

<script src="/js/input.js"></script>
{{>layout/footer}}